<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>E-Nach Registration</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .container {
            width: 100%;
            background-color: #044c8c;
            display: flex;
            align-items: center;
        }

        .container img {
            height: 80px;
            width: 100%;
            object-fit: contain;
        }

        .form {
            padding: 20px;
            max-width: 800px;
            width: 90%;
            margin: 20px auto;
            flex: 1;
        }

        footer {
            background-color: #044c8c;
            color: white;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body>
<div class="container">
    <img src="logo.jpg" alt="Logo">
</div>

<div class="form">
    <p>E-Nach Registration<br>Create or modify mandate for future payment.</p>
    <p id="response"></p>

    <form class="form-input" onsubmit="return false;">
        <div class="form-group">
            <label for="application-no">Application Number:</label>
            <input type="text" id="application-no" name="application-no" class="form-control">
        </div>

        <div class="form-group" id="field-confirmation">
            <label for="application-confirmation">Confirm Application Number:</label>
            <input type="text" id="application-confirmation" name="application-confirmation" class="form-control">
        </div>

        <div class="form-group" id="field-otp-code" style="display: none;">
            <label for="otp-code">OTP Code:</label>
            <input type="text" id="otp-code" name="otp-code" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" id="otpInput" class="form-control" placeholder="Enter OTP" oninput="validateOtp()"style="display: none;">
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" id="sendOtpBtn" onclick="sendOtp()">Send OTP</button>
            <button type="button" class="btn btn" id="resendOtpBtn" style="display: none;" onclick="resendOtp()">Re-Send OTP</button>
            <button type="button" class="btn btn-success" id="submitOtpBtn" style="display: none;" onclick="submitOtp()">Submit OTP</button>
        </div>

    </form>
</div>

<footer>
    <p>Copyright &copy; 2025 Shubham Housing Finance. All Rights Reserved.</p>
</footer>

<script>
    let userMobileNo = ''; // Global variable to store the mobile number

    function sendOtp() {
        const applicationNo = document.getElementById('application-no').value;
        const confirmApplicationNo = document.getElementById('application-confirmation').value;

        if (applicationNo !== confirmApplicationNo) {
            alert("Application number did not match.");
            return;
        }
        document.getElementById("sendOtpBtn").style.display = "none";
        document.getElementById("resendOtpBtn").style.display = "inline-block";
         document.getElementById("submitOtpBtn").style.display = "inline-block";

        $.ajax({
            url: 'http://localhost:8090/autoPay/generate-otp', // API endpoint
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ applicationNo: applicationNo }),
            success: function(response) {
                console.log(response.msg);
                userMobileNo = response.mobileNo;
                document.getElementById('resend').style.display = 'block';
                document.getElementById('field-confirmation').style.display = 'none';
                document.getElementById('field-otp-code').style.display = 'block';
                alert(response.commonResponse.msg);
            },
            error: function(xhr, status, error) {
                $('#response').text(`Error: ${xhr.responseText || error}`);
            }
        });
         document.getElementById("otpInput").style.display = "inline-block";
    }

        function resendOtp() {
        const applicationNo = document.getElementById('application-no').value;
        const confirmApplicationNo = document.getElementById('application-confirmation').value;

        if (applicationNo !== confirmApplicationNo) {
            alert("Application number did not match.");
            return;
        }

        $.ajax({
            url: 'http://localhost:8090/autoPay/generate-otp', // API endpoint
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ applicationNo: applicationNo }),
            success: function(response) {
                console.log(response.msg);
                 userMobileNo = response.mobileNo;
                document.getElementById('resend').style.display = 'block';
                document.getElementById('field-confirmation').style.display = 'none';
                document.getElementById('field-otp-code').style.display = 'block';
                alert(response.commonResponse.msg);
             const mobileNo = response.commonResponse.mobileNo
            },
            error: function(xhr, status, error) {
                $('#response').text(`Error: ${xhr.responseText || error}`);
            }
        });
    }


    function submitOtp() {
    const otpInput = document.getElementById("otpInput").value;
    if (otpInput.length < 6) {
    alert('OTP must be at least 6 characters long')
        return;
    }
            $.ajax({
            url: 'http://localhost:8090/autoPay/validate-otp', // API endpoint
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ otpCode: otpInput,mobileNo:userMobileNo }),
            success: function(response) {
                console.log(response.msg);
                alert(response.commonResponse.msg);
            },
            error: function(xhr, status, error) {
                $('#response').text(`Error: ${xhr.responseText || error}`);
            }
        });

}
</script>
</body>
</html>
